[submodule "admin-dashboard"]
	path = admin-dashboard
	url = https://github.com/mohamedaminehamdi/CarthageBot_Admin_Dashboard.git
[submodule "chatbot-frontend"]
	path = chatbot-frontend
	url = https://github.com/tarek-gritli/chatbot-frontend.git
[submodule "CathageBot"]
	path = CathageBot
	url = https://github.com/abderbj/chatbot.git
